/* 
header {
    display: flex;
    background-color: #333; 
    color: #fff; 
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2%;
}

.header-column {
    flex: 1;
    text-align: justify;
}

hr{
    border-style: dotted;
    border-width: 3px;
    border-color: black;
    padding: 5px;
    margin-top: 25px;
}

#menu-items-description{
    text-align: center;
}

#food-description {
    text-align: center; 
    list-style-position: inside; 
}


#food-description-list {
    text-align: left; 
    margin-left: 0; 
    padding-left: 0; 
}

.image-box {
    width: 300px; 
    height: 200px; 
    border: 2px solid #000; 
    position: sticky;
    margin-left: 75 vw;
}

.image-box img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

form {
    margin: 2rem 300;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2%;
    border: 5px solid rgb(18, 59, 162)
  }

  

  form {
    margin: 2rem auto;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 2%;
    border: 5px solid rgb(18, 59, 162)
  }

  */

  .navImage {
    width: 300px;
  }

  header {
    display: flex;
    justify-content: center;
    gap: 40px
  }

  .image-box{
    height: auto;
    max-width: 20vh;
    align-items: right;
  }